In [1]:
import pandas as pd
import numpy as np

In [3]:
n=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])

In [5]:
n

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [7]:
data={'A':[1,2,3],'B':[4,5,6]}
df=pd.DataFrame(data)
df

   A  B
0  1  4
1  2  5
2  3  6

In [23]:
print(data['A'])

[1, 2, 3]

In [27]:
df['A']

0    1
1    2
2    3
Name: A, dtype: int64

In [28]:
df['B']

0    4
1    5
2    6
Name: B, dtype: int64

In [36]:
data={'Item1': pd.DataFrame(np.random.randn(4,3)),
      'Item2': pd.DataFrame(np.random.randn(4,2))}
p=pd.Panel(data)

In [37]:
p

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 4 (major_axis) x 3 (minor_axis)
Items axis: Item1 to Item2
Major_axis axis: 0 to 3
Minor_axis axis: 0 to 2

In [38]:
df.to_csv('df.csv')

In [39]:
df.describe()

         A    B
count  3.0  3.0
mean   2.0  5.0
std    1.0  1.0
min    1.0  4.0
25%    1.5  4.5
50%    2.0  5.0
75%    2.5  5.5
max    3.0  6.0